# Unomi Server
UNOMI_URL=http://localhost:8181
NEXT_PUBLIC_UNOMI_URL=http://localhost:8181
UNOMI_TENANT_ID=
UNOMI_VERSION=3
UNOMI_USER=karaf
UNOMI_PASSWORD=karaf

# Authentication
JWT_SECRET=

# Deployment profile
DEPLOYMENT_TYPE=multi-tenant
TENANT_ADMIN_ENABLED=false
